body{
 background: #262626;
 @import url('https://fonts.googleapis.com/css?family=The+Girl+Next+Door');
 font-family: 'The Girl Next Door', cursive;
}
.title{
  color: white;
  font-family: 'The Girl Next Door', cursive;
  text-align: center;
  text-decoration: underline;
}
.niceblue{
  color: #99ccff;
  font-family: 'The Girl Next Door', cursive;
}
.coolindigo{
  color: #6666ff;
  font-family: 'The Girl Next Door', cursive;
}
.silveryblue{
  color: #4483d0;
  font-family: 'The Girl Next Door', cursive;
}
.periwinkle{
  color: #6a84fb;
  font-family: 'The Girl Next Door', cursive;
}
.turquoise{
  color: #66ffcc;
  font-family: 'The Girl Next Door', cursive;
}
.paleyellow{
  color: #fcf69c;
  font-family: 'The Girl Next Door', cursive;
}
.grayishblue{
  color: #9ecbf3;
  font-family: 'The Girl Next Door', cursive;
}
.nicegray{
  color: white;
  font-family: 'The Girl Next Door', cursive;
}
.peru{
  color: peru;
  font-family: 'The Girl Next Door', cursive;
}
.lemonchiffon{
  color: lemonchiffon;
  font-family: 'The Girl Next Door', cursive;
}
.slateblue{
  color: slateblue;
  font-family: 'The Girl Next Door', cursive;
}
.lightgoldenrodyellow{
  color: lightgoldenrodyellow;
  font-family: 'The Girl Next Door', cursive;
}
.palegoldenrod{
  color: palegoldenrod;
  font-family: 'The Girl Next Door', cursive;
}
.peachpuff{
  color: peachpuff;
  font-family: 'The Girl Next Door', cursive;
}
.paleturq{
  color: paleturquoise;
  font-family: 'The Girl Next Door', cursive;
}
.steelblue{
  color: steelblue;
  font-family: 'The Girl Next Door', cursive;
}
.textemotes{
  color: white;
  font-family: 'The Girl Next Door', cursive;
}
/* Save as COLOR PALLETE :) GOOD COLORS GO HERE! */
